<%- include('partials/header') -%>
<div class="back-img">
    <h2 class="sub-heading">About <i class="fas fa-arrow-right" style="font-size: 2.2rem;"></i> Infrastructure & Facilities</h2>
</div>
<div class="main">
    <div>
        <h1 class="inner-heading">Our Facilities</h1>
        <p class="content">
            We have an ultra-modern infrastructure setup which is managed by our highly qualified team of professionals that are highly knowledgeable and skilled as per their respective domains. All our products are regularly lubricated and upgraded so as to ensure the hassle-free functioning and timely completion of all the tasks retaining the excellent production rate. Our various departments are helpful in providing excellent quality of products to our esteem clients. All our products are stringently monitored under the close supervision of quality auditors.
        </p>
        <div>
            <img class="infrastructure" src="/imgs/about infra.jpeg" alt="">
        </div>
    </div>
</div>

<div class="main main-one-col">
    <div>
        <h1 class="inner-heading">Industries Served</h1>
        <p class="content">
            <small><i class="fas fa-dot-circle"></i></small> <strong> Semiconductors</strong><br>
            Progvins caters to semiconductors and passive electronic components segments. We provide silver plating, economical substitutes to precious metal plating, non corroding/oxidizing plating, solderable plating and selective or partial plating.<br>
            <small><i class="fas fa-dot-circle"></i></small> <strong> Electronics & Telecommunication</strong><br>
            Progvins has been serving the Electronics industry right from its inception, with reputed trusted customers in its portfolio. The massive infrastructure development in the telecom
            industry opens up new challenges for coating specialists. Our processes at Progvins have enabled significant import substitution of components for the telecommunication industry.<br>
            <small><i class="fas fa-dot-circle"></i></small> <strong> Aerospace</strong><br>
            Progvins is proud to be associated with the Indian Aerospace industry with its own small contributions. Thanks are due to the long-standing experience in the surface coating of light
            materials such as aluminum, magnesium and their alloys.<br>
            <small><i class="fas fa-dot-circle"></i></small> <strong> Electrical</strong><br>
            Progvins enjoys an excellent reputation in the electrical industry, especially in switchgear and switch board components, for its electroplating knowledge and experience. When new technologies are introduced in India, with critical components requiring special coatings or properties, Progvins generally has a solution to offer. Do contact us to know more about this.<br>
            <small><i class="fas fa-dot-circle"></i></small> <strong> Automative</strong><br>       
            Progvins has been associated with the automotive industry since long. We were among the pioneers to do duplex and triplex nickel plating on rims for two wheelers. Two other areas deserving to be mentioned are the plating of aluminum die cast alloy wheels and plating on plastic components to strict specifications.<br>
            <small><i class="fas fa-dot-circle"></i></small> <strong> Premium / Fashion Jewellery</strong><br>       
            At Progvins, we develop electrolytic, electroless and brush plating processes of precious metal plating for a variety of products ranging from premium jewellery to cutlery, utensils, temple kalashas and beyond. We use the latest post-treatment processes for anti-tarnishing,
lacquering etc.<br>
        </p>

    </div>
</div>
<div class="main">
    <h1 class="inner-heading">Research and Development
    </h1>
    <p class="content">
        For a technology-oriented company, continuous research and development is the lifeline for its survival and 
        growth. At Progvins, which was started by technically qualified and experienced entrepreneurs, we have
         the advantage that the top management understands the crucial role of R & D in the progress of the company.
         Research and development at Progvins has a strong foundation in the knowledge and experience of its 
         founders and technical staff. This is backed by a well-equipped laboratory for wet analysis and for 
         instrumentation. The preliminary results of research are quickly put to test on the pilot-plant scale, 
         which is also based in-house. The thrust areas of research and development include new chemicals for 
         use in brighteners and additives, plating on various types of substrates, use of pulse rectifiers, 
         ionic liquids, refinement of process sequences as well as jig design. At Progvins, we keep ourselves 
         updated on new developments in the field with a strong literature research and close contacts to
        like-minded firms and research institutes in India and abroad.</p>
        <div style="display: flex;">
            <img style="margin:7rem 0rem; width: 300px; height: 350px;" src='/imgs/about infra2.jpeg'>
            <img class="" style="width: 300px; height: 350px; margin:7rem 1.4rem; margin-bottom: 30px;" src='/imgs/comp2.jpeg' alt="">
        </div>    
</div>
<%- include('partials/footer') -%>