<%- include('partials/header') -%>
<div class="back-img">
    <h2 class="sub-heading">About <i class="fas fa-arrow-right" style="font-size: 2.2rem;"></i> Infrastructure & Facilities</h2>
</div>
<div class="main">
    <div>
        <h1 class="inner-heading">Our Facilities</h1>
        <p class="content">
            We have an ultra-modern infrastructure setup which is managed by our highly qualified team of professionals that are highly knowledgeable and skilled as per their respective domains. All our products are regularly lubricated and upgraded so as to ensure the hassle-free functioning and timely completion of all the tasks retaining the excellent production rate. Our various departments are helpful in providing excellent quality of products to our esteem clients. All our products are stringently monitored under the close supervision of quality auditors.
        </p>
        <div>
            <img class="infrastructure" src="/imgs/infrastructure.jpg" alt="">
            <!-- <img class="infrastructure" src="/imgs/work.png" alt=""> -->
        </div>
    </div>
</div>
<div class="main main-one-col">
        <h1 class="inner-heading">To Research and Development
        </h1>
        <p class="content">
            For a technology-oriented company, continuous research and development is the lifeline for its survival and growth. At Progvins, which was started by technically qualified and experienced entrepreneurs, we have the advantage that the top management understands the crucial role of R & D in the progress of the company.

            Research and development at Progvins has a strong foundation in the knowledge and experience of its founders and technical staff. This is backed by a well-equipped laboratory for wet analysis and for instrumentation. The preliminary results of research are quickly put to test on the pilot-plant scale, which is also based in-house. The thrust areas of research and development include new chemicals for use in brighteners and additives, plating on various types of substrates, use of pulse rectifiers, ionic liquids, refinement of process sequences as well as jig design.
            
            At Progvins, we keep ourselves updated on new developments in the field with a strong literature research and close contacts to like-minded firms and research institutes in India and abroad, mainly Europe.        </p>    
</div>
<%- include('partials/footer') -%>