<%- include('partials/header') -%>
<div class="contain">
    <div class="me">
        <h1 class="tag-line">
            Expertise in  highly  specialized  job  work  of  electroplating  &  metal  finishing
        </h1>
         <p class="tag">PROGVINS INDUSTRIES was established as a partnership firm by highly qualified and experienced 
             technocrats in Navi Mumbai in 1980. </p>
        <div class="btn-main">
            <a href="contact"><button class="btn btn-dark">For more information about our services, and to discuss your requirements call us today on 720801008 / 750658896 or Send us a mail at progvins@progvins.com / s.rane@rrrlabs.com </button></a>
        </div>
    </div>
</div>
<div class="home-middle">
    <p class="tag">PROGVINS INDUSTRIES was established as a partnership firm by highly qualified and experienced
         technocrats in Navi Mumbai in 1980. The firm carries out highly specialized job work of electroplating and 
         of metal finishing at its plant in Navi Mumbai. In addition, it develops for customers tailor made process 
         sequences depending on the type of components, quantity to be plated, quality of the components etc.<br><br>
        <a href="about" style="position:relative; margin: 26rem;"><i class="fas fa-plus"></i>Read More</a>
    </p>
    <div class="home-ico">
        <i class="fas fa-hand-holding-usd"></i><small class="small-ico"> Nature of Business </small> : Service Provider
        <i class="fas fa-users"></i><small class="small-ico"> Total Number of Employees </small> : 11 to 25 People
        <i class="fas fa-building"></i><small class="small-ico"> Year of Establishment </small> : 1980
        <i class="fas fa-balance-scale"></i><small class="small-ico"> Legal Status of Firm </small> : Partnership Firm
        <i class="fas fa-file-invoice-dollar"></i><small class="small-ico"> GST Number </small> : 27AAHFP7988D1ZP
    </div>  
</div>
<h1 class="inner-heading home-heading" style="margin-top: 8rem;">Services We Provide</h1>
<div class="row">
    <!-- <div class="col-sm-4">
    <div class="card" style="background-image: url('/imgs/enp-plating.png');">
        <div class="card-body home">
        <h5 class="card-title">Electroless Nickel Plating</h5>
        <p class="card-text" style="font-weight: bold;">Progvins expertise in Electroless Nickel Plating, is rich 
            and diverse. Progvins has mastered high, medium and low phosphorus electroless nickel plating.</p>
        <a href="electroless-method"><button class="btn btn-light">Read More</button></a>
        </div>
    </div>
    </div> -->
    <div class="col-sm-4">
        <div class="card" style="background-image: url('/imgs/gold.png');">
            <div class="card-body home">
            <h5 class="card-title">Gold Plating</h5>
            <p class="card-text" style="font-weight: bold;">Electroless gold plating at progvins meets the 
                specifications of the electronics and semiconductor industry. Palladium plating 
                also finds several industrial applications.</p>
            <a href="gold-service"><button class="btn btn-light">Read More</button></a>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="background-image: url('/imgs/electronics-and-telecommunication.jpg');">
                <div class="card-body home">
                <h5 class="card-title">Palladium Plating</h5>
                <p class="card-text" style="font-weight: bold;">Progvins has developed in-house the process for 
                    electroplating as well as brush plating of gold for industrial and decorative applications.</p>
                <a href="palladium-service"><button class="btn btn-light">Read More</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="background-image: url('/imgs/Silver-Plated-Process.jpg');">
                <div class="card-body home">
                <h5 class="card-title">Silver Plating</h5>
                <p class="card-text" style="font-weight: bold;">Silver electroplating is an age-old and well-established 
                    process. The classical silver electroplating bath chemistry depends on silver potassium cyanide in water.</p>
                <a href="silverService"><button class="btn btn-light">Read More</button></a>
                </div>
            </div>
        </div>
<!--  <div class="col-sm-4">
            <div class="card" style="background-image: url('/imgs/hard-chrome-plating-1.jpg');">
                <div class="card-body home">
                <h5 class="card-title">Hard Chrome Plating</h5>
                <p class="card-text" style="font-weight: bold;">Progvins has carried out chrome plating on numerous 
                    types of jobs. We take care of not only the quality of the 
                    chromic acid but also the type of catalyst.</p>
                <a href="electroless-method"><button class="btn btn-light">Read More</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="background-image: url('/imgs/copper.png');">
                <div class="card-body home">
                <h5 class="card-title">Copper Plating</h5>
                <p class="card-text" style="font-weight: bold;">High thickness copper plating without nodule
                     growth is a challenge which Progvins has mastered through its know-how and fine tuning of our 
                     in house chemistry.</p>
                <a href="electroless-method"><button class="btn btn-light">Read More</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="background-image: url('/imgs/copper1.png');">
                <div class="card-body home">
                <h5 class="card-title">Tamra Cynide-Free Copper Plating</h5>
                <p class="card-text" style="font-weight: bold;">Progvins believes in being eco-friendly, 
                    field of surface finishing.This process eliminates the need for Cyanide 
                    copper plating and is an excellent and eco-friendly undercoat.</p>
                <a href="electroless-method"><button class="btn btn-light">Read More</button></a>
                </div>
            </div>
        </div> -->
        <div class="col-sm-4">
            <div class="card" style="background-image: url('/imgs/silver.png');">
                <div class="card-body home">
                <h5 class="card-title">Rhodium Plating</h5>
                <p class="card-text" style="font-weight: bold;"> Rhodium plating, is used to increase the durability, luster
                    and light reflection , because it is a hard metal, a rhodium plated piece of metal will be more scratch resistant. </p>
                <a href="rhodium-service"><button class="btn btn-light">Read More</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="background-image: url('/imgs/precious-metal-deposition.jpg');">
                <div class="card-body home">
                <h5 class="card-title">Precious Metal Deposition</h5>
                <p class="card-text" style="font-weight: bold;">The major precious metals that are deposited
                     by electroplating in our plant include silver, gold of 14 to 24 karats and palladium.</p>
                <a href="pmd-service"><button class="btn btn-light">Read More</button></a>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-4">
            <div class="card" style="background-image: url('/imgs/substrates-plating.png');">
                <div class="card-body home">
                <h5 class="card-title">Substrates Plating</h5>
                <p class="card-text" style="font-weight: bold;">Drawing on its vast industrial experience and continual research, Progvins specializes in plating on difficult-to-plate substrates.</p>
                <a href="electroless-method"><button class="btn btn-light">Read More</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="background-image: url('/imgs/sulpha-nickel.png');">
                <div class="card-body home">
                <h5 class="card-title">Sulphamate Nickel Plating</h5>
                <p class="card-text" style="font-weight: bold;">Sulphamate Nickel plating has all 
                    desirable properties for electronic and semiconductor industry it is also used for corrosion 
                    protection and functional properties.</p>
                <a href="electroless-method"><button class="btn btn-light">Read More</button></a>
                </div>
            </div>
        </div> -->
        <div class="col-sm-4">
            <div class="card" style="background-image: url('/imgs/plating-on-plas.png');">
                <div class="card-body home">
                <h5 class="card-title">Plating on Plastics</h5>
                <p class="card-text" style="font-weight: bold;">Progvins Industries has rich in-house experience 
                    in plating on plastics, particularly to meet the stringent standards of the automotive industry. </p>
                <a href="platingOnPlastic-service"><button class="btn btn-light">Read More</button></a>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer') -%>
