<%- include('partials/header') -%>
<div class="back-img">
    <h2 class="sub-heading sub">Metal Finishes</h2>
</div>
</div>
<div class="container">
    <h1 style="  margin: auto;
    width: 50%;
    margin-top:10rem;
    font-size:5rem;">(Main Content)</h1>
</div>
<%- include('partials/footer') -%>