<%- include('partials/header') -%>
<div class="back-img">
    <h2 class="sub-heading sub">Plating Metals</h2>
</div>
</div>
<div class="main-content">
    <p class="main-initial">
        Our product range in progvins includes a wide range of Silver Plating, High Thickness Copper Plating Services, Gold / Palladium / Nickel-Palladium Alloy Plating, Substrates Plating and High Thickness Copper Plating.<br><br>
        Plating refers to coating a metal or other material with a hard, nonporous metallic surface to improve durability and beauty. Such surfaces as gold, silver, stainless steel, palladium, copper, 
        and nickel are formed by dipping an object into a solution containing the desired surface material, which is deposited by chemical or electrochemical action. While much plating is done for decorative purposes, still more is done to increase the durability and corrosion-resistance of softer materials. Most automotive parts, appliances, housewares and flatware, hardware, plumbing and electronic equipment, wire goods, aircraft and aerospace products, and machine tools are plated for durability.

    </p>
</div>  
<div class="container">
    <h1 style="  margin: auto;
    width: 50%;
    margin-top:10rem;
    font-size:5rem;">(Main Content)</h1>
</div>
<!-- <div class="">
    <div class="row">
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Gold Plating</h5>
            <p class="card-text">Gold is prized for its high resistance to oxidation and electrical conductivity. It is known for its glitter and glamour, but it also has significant value from an electroplating perspective. 
            </p><a href="gold-material"><button class="btn btn-dark">Read More</button></a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Silver Plating</h5>
            <p class="card-text">Silver electroplating is a surface coating of silver which is deposited onto a substrate. 
                Electroplating involves passing an electrical current from one electrode to another through a conductive bath called an electrolyte, causing a chemical reaction. 
                The electrolyte will be a solution containing the metal to be deposited on the substrate, in this case silver.    Silver can be electroplated onto a number of substrates including steel, aluminium, copper, tin and nickel to improve the technical performance of these metals.</p>
                <a href="silver-material"><button class="btn btn-dark">Read More</button></a>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Copper Plating</h5>
            <p class="card-text">Copper is another popular plating metal for applications that require high conductivity and cost-efficiency. 
                Copper plating often serves as a strike coating pretreatment for subsequent metal platings, as discussed above.
                It is also a popular plating metal for electronics components such as printed circuit boards. High-plating efficiency and low material cost make copper one of the less expensive metals to plate with.
                There are three types of copper plating processes—alkaline, mildly alkaline, and acid. </p>
                <a href="copper-material"><button class="btn btn-dark">Read More</button></a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Nickel Plating</h5>
            <p class="card-text">Nickel is a popular plating metal, especially because it is useful in electroless plating. Nickel plating often coats household products such as doorknobs, cutlery, and shower fixtures for enhanced decoration and wear resistance.
                 Nickel plates commonly bond with copper and aluminum, but also work on a wide variety of metals and serve as underlying platings for chromium.
                 In electroless plating, a nickel phosphorous alloy is used.
            </p>
            <a href="nickel-material"><button class="btn btn-dark">Read More</button></a>
        </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Rhodium Plating</h5>
            <p class="card-text">Rhodium is a type of platinum that provides tarnish resistance, scratch-resistance, and a shiny,
                white lustrous appearance. Rhodium plating is also common in jewelry production, especially in situations where white gold requires plating. 
                Silver, platinum, and copper are also popular base metals for rhodium plating.
                One downside of rhodium plating is that the protective barrier of rhodium will eventually wear away in applications that are subjected to high levels of wear
            </p>
            <a href="rhodium-material"><button class="btn btn-dark">Read More</button></a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Palladium Plating</h5>
            <p class="card-text">Palladium is a precious metal with numerous properties that make it an excellent choice of plating material,
                especially in the automotive and electronics industries. SPC has developed a palladium plating process that reliably provides a high-quality coating for various components and products. Keep reading to
                 learn more about palladium plating, including its characteristics, benefits, drawbacks and applications.
            </p>
            <a href="palladium-material"><button class="btn btn-dark">Read More</button></a>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Platinum Plating</h5>
            <p class="card-text">Like other precious metals, platinum (Pt) offers durability, longevity and value
                 to products that use it for plating. With a finish of platinum on the exterior of a part, it gains the benefits of the metal without
                the cost of creating a solid part using this material. Like other precious metals, platinum (Pt) offers durability, longevity and value to products that use it for plating. With a finish of platinum on the exterior of a part, it gains the benefits of the metal without the cost of creating a solid part using this material.
            </p>
            <a href="platinum-material"><button class="btn btn-dark">Read More</button></a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Indium Plating</h5>
            <p class="card-text">Indium is a metal similar to tin in many ways, such as color hue, corrosion resistance, and spreadability,
                 and its melting point is as low as 157°C. As it is also the softest among metals, 
                 it is used to improve the lubricity of bearings and solderability of electronic parts.
                 ndium-electroplated films have many industrial applications that take advantage of the unique physical and chemical 
                 properties of the indium metal, such as its low melting point, low vapor pressure, inherent softness and malleability, cold welding properties, anti-friction properties, and alloy hardening properties.</p>
                 <a href="indium-material"><button class="btn btn-dark">Read More</button></a>
            </div>
        </div>
        </div>
</div> -->

<div class="main-content">
    <p class="main-initial">    
        For more information about our Metal Plating Services, call Progvins today on
        720801008 / 7506588896 to discuss your requirements and get the Latest Price Quote.<br><br>
        <a style="margin: 1rem;" href="tel:7506588896"><button class="btn btn-light">Call Us</button></a>
        <a href="contact"><button class="btn btn-light">Mail Us</button></a>
    </p>
</div>
<%- include('partials/footer') -%>