<%- include('partials/header') -%>
<div class="back-img">
    <h2 class="sub-heading">Services <i class="fas fa-arrow-right" style="font-size: 2.2rem;"></i> Nickel Plating</h2>
</div>
<div class="container">
    <h1 style="  margin: auto;
    width: 50%;
    margin-top:10rem;
    font-size:5rem;">(Main Content)</h1>
</div>
<%- include('partials/footer') -%>