<%- include('partials/header') -%>
<div class="back-img">
    <h2 class="sub-heading">Services & Processes <i class="fas fa-arrow-right" style="font-size: 2.2rem;"></i> Other Services</h2>
</div>
<div class="container">
    <h1 style="  margin: auto;
    width: 50%;
    margin-top:10rem;
    font-size:5rem;">(Main Content)</h1>
</div>
<div class="main-content">
    <p class="main-initial">    
        For more information about out Other Services, call Progvins today on
        720801008 / 7506588896 to discuss your requirements and get the Latest Price Quote.<br><br>
        <a style="margin: 1rem;" href="tel:7506588896"><button class="btn btn-light">Call Us</button></a>
        <a href="mailto:progvins@progvins.com"><button class="btn btn-light">Mail Us</button></a>
    </p>
</div>
<%- include('partials/footer') -%>