<%- include('partials/header') -%>
<div class="back-img">
    <h2 class="sub-heading">Services <i class="fas fa-arrow-right" style="font-size: 2.2rem;"></i> Precious Metal Deposition</h2>
</div>
<div class="main-content">
    <p class="main-initial">
       In the Progvins Industries the major precious metals that are deposited by electroplating in our plant 
       include silver, gold of 14 to 24 karats and palladium. Our white and bright silver electroplating is very 
       popular not only for industrial applications (e.g. switch gear components) but also for decorative 
       applications.
    </p>
</div>
<%- include('partials/footer') -%>