<%- include('partials/header') -%>
<div class="back-img">
    <h2 class="sub-heading">Services <i class="fas fa-arrow-right" style="font-size: 2.2rem;"></i> Precious Metal Deposition</h2>
</div>
<div class="main-content">
    <p class="main-initial">
       In the Progvins Industries the major precious metals that are deposited by electroplating in our plant 
       include silver, gold of 14 to 24 karats and palladium. Our white and bright silver electroplating is very 
       popular not only for industrial applications (e.g. switch gear components) but also for decorative 
       applications.
    </p>
</div>
<div class="main">
    <div>
        
        <p class="content">
            We are specialized expertise of refining experience offer customers a reliable solution for extracting precious metal value from plating solutions. Progvins has the expertise and the technology to efficiently handle precious metals recovery from plating solutions, as well as a wide range of industry by-products.<br><br>
            Our precious metal recovery from plating solutions allows us to deliver maximum value to our customers. Recover the highest returns of metal, which translates into a cost advantage for our customers.
        </p>
        <div>
            <img height="350vh" style="margin: 1rem; margin-left: 8rem;" src='/imgs/pmd.jpeg'>
        </div>
    </div>
</div>
<div class="main-content">
    <p class="main-initial">    
        Contact today, to discuss about your precious metal refining and recovery needs and requirements    
        For more information about our Precious Metal Deposition Service, call Progvins today on
        7208010008 / 7506588896 to discuss your requirements and get the Latest Price Quote.<br><br>
        <a style="margin: 1rem;" href="tel:7506588896"><button class="btn btn-light">Call Us</button></a>
        <a href="mailto:progvins@progvins.com"><button class="btn btn-light">Mail Us</button></a>
    </p>
</div>
<%- include('partials/footer') -%>