<%- include('partials/header') -%>
<div class="back-img">
    <h2 class="sub-heading">Services <i class="fas fa-arrow-right" style="font-size: 2.2rem;"></i> Rhodium Plating</h2>
</div>
<div class="main-content">
    <p class="main-initial">
        Progvins has developed in-house the process for electroplating of gold for industrial and decorative applications such as electronics, jewellry, cutlery etc. The baths have high efficiencies and the deposited
         gold layer is lustrous, pore free and with excellent bonding properties.<br>
         The electronics industry employs electroless gold plating because of the unique properties of gold, such as conductivity, zero tarnishing etc. Our electroless gold plating process is non-porous, uniform in thickness and of the highest purity. 
    </p>
</div> 
<div class="main main-one-col">
    <h1 class="inner-heading">What is Rhodium Plating ?
    </h1>
    <p class="content">Rhodium is a member of the platinum group of metals and is silver-hued, highly reflective and does not tarnish or corrode. It is harder than gold and is highly durable.
        hink shiny like chrome but lighter in color. It belongs to a family of noble metals on the periodic table
         that also include platinum and palladium. In general, noble metals are resistant to corrosion and oxidation
        and have historically been used in jewelry because they can withstand wear and tear for generations.
    </p>    
</div>
<div class="main">
    <div>
        <h1 class="inner-heading">Rhodium Plating Process</h1>
        <p class="content">
            Rhodium is plated using an electroplating process. For a piece of jewelry to be plated, it must first be thoroughly cleaned to remove all contaminants. If there is any dirt on the piece, the plating will not hold.
Distilled water, steam cleaning and electro cleaning are some ways that the item is cleaned before it is dipped into the rhodium solution. A positive electrical charge is then used to fuse the rhodium onto the base metal.
Care must be taken, because if the electric current is too high, the rhodium plating will turn black. The process takes roughly around an hour and a half to be completed.
        </p>
        <div>
            <img class="middle-img" src='/imgs/rhodium.png'>
        </div>
    </div>
</div>
<div class="main  main-one-col">
    <div>
        <h2 class="inner-heading">Method of Rhodium plating</h2>
        <p class="content" style="margin-bottom: 1rem">
            Rhodium is a very brittle metal and is not easily shaped or formed. As a result, pure rhodium 
            cannot be made into jewelry. On its own it can easily crack and break somewhat like glass. But when
             used to plate other jewelry, rhodium enhances the durability of the metal.
            Rhodium plating, also known as rhodium dip or rhodium flashing, is used to increase the durability, 
            luster and light reflection , because it is a hard metal, a rhodium plated piece of metal will be more
             scratch resistant. Most rhodium plating has a thickness of .75 to 1.0 microns.
        </p>
    </div>
</div>
<div class="main-content">
    <p class="main-initial">    
        For more information about Gold Plating Service, call Progvins today on
        720801008 / 7506588896 to discuss your requirements and get the Latest Price Quote.<br><br>
        <a style="margin: 1rem;" href="tel:7506588896"><button class="btn btn-light">Call Us</button></a>
        <a href="contact"><button class="btn btn-light">Contact Us</button></a>
    </p>
</div>
<%- include('partials/footer') -%>